:root {
  --fw-bold: 700; /* Plex doesn't go up to 800 */

  --f-body: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  --f-monospace: "IBM Plex Mono", monospace;
}

pre.shiki,
span.shiki {
  font-size: 93%;
}
