{%- macro nextPrevious(cls) -%}
<nav class="DJNextPrevious {{ cls }}">
  <div class="DJPrevious {% if not previous %}u-invisible{% endif %}">
    {% if previous -%}
    <div class="DJNextPrevious_Label">Previous</div>
    <div class="DJNextPrevious_Link"><a href="{{ previous.url | safe }}">{{ previous.title }}</a></div>
    {%- endif %}
  </div>

  <div class="DJNext {% if not next %}u-invisible{% endif %}">
    {% if next -%}
    <div class="DJNextPrevious_Label">Next</div>
    <div class="DJNextPrevious_Link"><a href="{{ next.url | safe }}">{{ next.title }}</a></div>
    {%- endif %}
  </div>
</nav>
{%- endmacro -%}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for cssURL in cssURLs %}
    <link rel="stylesheet" href="{{ cssURL }}">
    {% endfor %}
    <title>{{ config.siteName }} - {{ doc.title }}</title>
  </head>
  <body>
    <header class="DJHeader">
      <div class="DJHeader_Content u-page-width">
        <h1>{{ config.siteName }}</h1>
      </div>
    </header>

    <main class="u-page-width">
      <div class="DJContent">
        {{ nextPrevious('m-top') }}
        <article>{{ docs.content | safe }}</article>
        {{ nextPrevious('m-bottom') }}
      </div>
      <nav class="DJTableOfContents m-sidebar">{{ docs.toc | safe }}</nav>
      {% if docs.doctree %}<nav class="DJDocTree m-sidebar">{{ docs.doctree | safe }}{% endif %}
    </main>

    {%if config.html.footerText -%}
    <footer class="DJFooter">
      <div class="DJFooter_Content u-page-width">
        {{ config.html.footerText }}
      </div>
    </footer>
    {% endif %}
  </body>
</html>