{%- macro nextPrevious(cls) -%}
<nav class="DJNextPrevious {{ cls }}">
  <div class="DJPrevious {% if not previous %}u-invisible{% endif %}">
    {% if previous -%}
    <div class="DJNextPrevious_Label">Previous</div>
    <div class="DJNextPrevious_Link"><a href="{{ previous.url | safe }}">{{ previous.title }}</a></div>
    {%- endif %}
  </div>

  <div class="DJNext {% if not next %}u-invisible{% endif %}">
    {% if next -%}
    <div class="DJNextPrevious_Label">Next</div>
    <div class="DJNextPrevious_Link"><a href="{{ next.url | safe }}">{{ next.title }}</a></div>
    {%- endif %}
  </div>
</nav>
{%- endmacro -%}

{%- macro hamburger(width, height) %}
<svg viewBox="0 0 100 80" width="{{ width }}" height="{{ height }}">
  <rect width="100" height="20" rx="8"></rect>
  <rect y="30" width="100" height="20" rx="8"></rect>
  <rect y="60" width="100" height="20" rx="8"></rect>
</svg>
{%- endmacro -%}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for cssURL in cssURLs %}
    <link rel="stylesheet" href="{{ cssURL }}">
    {% endfor %}
    <title>{{ config.siteName }} - {{ doc.title }}</title>
  </head>
  <body>
    <header class="DJHeader">
      <div class="DJHeader_Content u-page-width">
        <div class="DJHeader_Content_Group">
          <div class="DJHeader_Hamburger">{{ hamburger('1.5em', '1em') }}</div>
          <h1>{{ config.siteName }}</h1>
        </div>
      </div>
    </header>

    <main class="u-page-width">
      <div class="DJContent">
        {{ nextPrevious('m-top') }}
        <article>{{ docs.content | safe }}</article>
        {{ nextPrevious('m-bottom') }}
      </div>
      <nav class="DJTableOfContents m-sidebar">
        <div class="DJTableOfContents_Content">
          {{ docs.toc | safe }}
        </div>
      </nav>
      <nav class="DJDocTree m-sidebar">
        <div class="DJDocTree_Content">
          {{ docs.doctree | safe }}
        </div>
      </nav>
    </main>

    {%if config.html.footerText -%}
    <footer class="DJFooter">
      <div class="DJFooter_Content u-page-width">
        {{ config.html.footerText }}
      </div>
    </footer>
    {% endif %}
  </body>
</html>