.DJDocTree.m-sidebar {
  padding: 0 calc(var(--mm) - var(--ms));
}

.DJTableOfContents {
  font-size: var(--fs-small);
  padding: 0 var(--ms);
}

.DJDocTree_Content {
  font-size: var(--fs-small);
  padding: 0;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  margin-left: var(--ms);
}

.DJTableOfContents_Content > ul {
  margin-left: 0;
}

.DJDocTree_Content > ul {
  margin-left: var(--ms);
}

nav li {
  list-style-type: none;
  padding-left: 0;
}

.DJTableOfContents.m-sidebar .DJTableOfContents_Content::before {
  content: "On this page";
}

nav.DJDocTree a,
nav.DJDocTree a:visited,
nav.DJDocTree h1,
nav.DJDocTree h2,
nav.DJDocTree h3,
nav.DJDocTree h4,
nav.DJDocTree h5,
nav.DJDocTree h6 {
  text-decoration: none;
  color: var(--color-fg-2);
}

nav.DJDocTree a.m-active {
  font-weight: var(--fw-semibold);
}

/* Add underlines to sections with self-docs */
nav.DJDocTree a:hover,
nav.DJDocTree h1 > a,
nav.DJDocTree h2 > a,
nav.DJDocTree h3 > a,
nav.DJDocTree h4 > a,
nav.DJDocTree h5 > a,
nav.DJDocTree h6 > a {
  text-decoration: underline;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  font-size: var(--fs-normal);
  font-weight: var(--fw-semibold);
  margin-bottom: 0.5em;

  padding: var(--ms);
  margin-left: calc(-1 * var(--ms));
  border-radius: var(--border-radius-small);
}

nav h1 {
  margin-left: 0;
}

nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  margin-top: 1em;
}
