/* ASIDES */

aside {
  border-width: var(--aside-border-width);
  border-radius: var(--aside-border-radius);
  border-style: solid;
  overflow: hidden;
  font-size: var(--fs-small);
}

aside > * {
  margin: 0 var(--ms);
}

aside > *:last-child {
  margin-bottom: var(--ms);
}

aside::before {
  font-weight: var(--fw-bold);
  margin: 0 0 var(--ms) 0;
  padding: var(--mss) var(--ms);
  display: block;
}

/* Note */

aside.note::before {
  content: "Note";
  background-color: var(--aside-title-color-bg-note);
}

aside.note {
  border-color: var(--aside-color-border-note);
}

/* Tip */

aside.tip::before {
  content: "Tip";
  background-color: var(--aside-title-color-bg-tip);
}

aside.tip {
  border-color: var(--aside-color-border-tip);
}

/* Important */

aside.important::before {
  content: "Important";
  background-color: var(--aside-title-color-bg-important);
}

aside.important {
  border-color: var(--aside-color-border-important);
}

/* Warning */

aside.caution::before {
  content: "Warning";
  background-color: var(--aside-title-color-bg-warning);
}

aside.caution {
  border-color: var(--aside-color-border-warning);
}

/* Danger */

aside.warning::before {
  content: "Danger";
  background-color: var(--aside-title-color-bg-danger);
}

aside.warning {
  border-color: var(--aside-color-border-danger);
}

/* VERSION MODIFIED */

.version-modified {
  font-style: italic;
}

.version-modified p.primary {
  font-size: var(--fs-medium);
  margin-bottom: 0.5em;
}

.version-modified p {
  font-size: var(--fs-small);
}
