#dj-search-menu {
  border: none;
  padding: 0;
  color: var(--color-fg-1);
  background: unset;
  overflow: visible;

  --search-width: 40rem;
}

.DJSearchMenu_FlexContainer {
  width: 100vw;
  height: calc(100vh - 10rem);
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#dj-search-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.15);
}

.DJSearchMenu_Content {
  box-shadow: 2px 2px 8px 2px rgba(138, 138, 138, 0.39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--search-width);
  max-height: calc(100vh - 10rem);
}

.DJSearchMenu_InputContainer {
  z-index: 1;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  background-color: var(--color-bg-1);
  border-bottom: var(--border-weak);

  width: 100%;
  max-width: var(--search-width);
  padding: var(--ms);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}

.DJSearchMenu_InputContainer input {
  width: 100%;
}

.DJSearchMenu_InputContainer_Caption {
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
}

#dj-search-menu h1 {
  font-size: var(--fs-normal);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  margin-bottom: var(--mm);
}

.DJSearchMenu_Results {
  display: block;
  flex-shrink: 1;
  flex-grow: 1;

  overflow-y: auto;
  width: 100%;
  max-width: var(--search-width);
  padding: var(--ms);

  background: var(--color-bg-1);
}

.DJSearchResult {
  border-bottom: var(--border-weak);
  padding: var(--mm) 0 var(--mm) 0;
  display: block;
  text-decoration: none;
}

.DJSearchResult:hover {
  background-color: var(--color-bg-1-hover);
}

.DJSearchResult_Text {
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  color: var(--color-fg-2);
  text-decoration: none !important;
}

.DJHighlight {
  background-color: yellow;
}

.DJSearchResult p {
  margin-bottom: var(--ms);
}
