/* GLOBAL STYLES */

body {
  background-color: var(--color-bg);
}

.dj-noop {
  all: unset;
  display: contents;
}

tt,
code,
kbd,
samp {
  font-family: var(--f-monospace);
}

svg line {
  stroke: var(--color-fg-1);
}

svg rect {
  fill: var(--color-fg-1);
}

a {
  color: var(--color-fg-link);
}

a:visited {
  color: var(--color-fg-link-visited);
}

details > summary {
  cursor: pointer;
}

li.checked,
li.unchecked {
  list-style-type: none;
}
li.checked:before {
  content: "☒";
  margin-left: -1.31em;
  margin-top: -0.08em;
  float: left;
}
li.unchecked:before {
  content: "☐";
  margin-left: -1.31em;
  margin-top: -0.08em;
  float: left;
}

:where(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  margin-bottom: 1.25em;
}

td,
th {
  padding: var(--ms);
}

td {
  border-bottom: var(--border-weak);
}

th {
  border-bottom: var(--border-strong);
  text-align: left;
  text-align: start;
}

/* HEADER & FOOTER */

.DJHeader {
  z-index: 1;
  background-color: var(--color-bg);

  --header-padding: var(--ms);
}

.DJIconButton.DJHeader_Hamburger {
  margin: 0 0 0 calc(-1 * var(--ms) - 4px);
}

.DJHeader_SiteName a,
.DJHeader_Link a {
  color: var(--color-fg-1);
  text-decoration: none;
}

.DJHeader_SiteName a:hover,
.DJHeader_Link a:hover {
  text-decoration: underline;
}

.DJHeader_Content {
  border-bottom: var(--border-weak);
  padding: var(--header-padding) var(--mm);
}

.DJHeader_Content_Group.m-menu-and-logo {
  gap: var(--mss);
}

.DJProjectInfo {
  font-size: var(--fs-small);
  color: var(--color-fg-2);
}

.DJFooter_Content {
  border-top: var(--border-weak);
  padding: var(--ms);
}

main {
  margin-top: var(--mll);
  margin-bottom: var(--mm);
}

@media (max-width: 970px) {
  main {
    margin-top: var(--ml);
  }
}

/* NAVIGATION */

.DJContent {
  padding: 0 var(--mm);
}

.DJNextPrevious.m-top {
  display: none; /* hidden by default */
}

.DJNextPrevious > a {
  text-decoration: none;
  padding: var(--ms) var(--mm);
  border-radius: var(--d-xsmall);
  border: var(--border-weak);

  min-width: 10rem;
}

.DJNextPrevious a:hover {
  background-color: var(--color-bg-1-hover);
}

.DJNextPrevious.m-bottom {
  margin-top: var(--ml);
  margin-bottom: var(--mm);
}

.DJNext {
  text-align: right;
}

.DJNextPrevious_Label {
  font-size: var(--fs-small);
  color: var(--color-fg-2);
}

.DJNextPrevious_Link {
  text-decoration: underline;
}

.DJNext .DJNextPrevious_Label::after {
  content: " →";
}

.DJPrevious .DJNextPrevious_Label::before {
  content: "← ";
}

/* MOBILE MENU POPOVER */

#dj-mobile-menu {
  border: none;
  border-right: var(--border-strong);
  height: 100%;
  padding: 0;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width-large);
  width: 100vw;
  background-color: var(--color-bg-1);
  color: var(--color-fg-1);
}

#dj-mobile-menu header {
  margin-bottom: var(--mm);

  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 calc(var(--mm) - var(--ms));

  border-bottom: var(--border-weak);
}

#dj-mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.15);
  /* blur has awful perf in Chrome */
  /*
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  */
}

/* COMPONENTS */

.DJIconButton {
  all: unset;
  cursor: pointer;
  font-size: var(--fs-large);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--ms);
  padding: var(--ms);
  border-radius: var(--border-radius-small);
  height: 1.5em;
}

.DJIconButton:hover {
  background-color: var(--color-control-hover-bg);
}

.DJCollapse_Collapser {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DJCollapse_Collapser_Marker {
  color: var(--color-fg-3);
}

.DJCollapse_Collapser:hover {
  background-color: var(--color-control-hover-bg);
}

.DJCollapse_Collapsee.m-collapsed {
  display: none;
}
