#dj-search-menu {
  border: none;
  padding: 0;
  background-color: var(--color-bg-1);
  color: var(--color-fg-1);
}

#dj-search-menu > div {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#dj-search-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.15);
}

.DJSearchMenu_InputContainer {
  margin-top: calc(min(20vh, 10rem));
}

#dj-search-menu h1 {
  font-size: var(--fs-normal);
  font-weight: var(--fw-bold);
}

.DJSearchMenu_Results {
  overflow-y: auto;
  width: 100%;
  max-width: var(--page-max-width);
  padding: var(--ms);
}

.DJSearchResult:first-child {
  border-top: var(--border-weak);
}

.DJSearchResult {
  border-bottom: var(--border-weak);
  padding: var(--ms) 0;
}
