/* GLOBAL STYLES */

body {
  background-color: var(--color-bg);
}

.dj-noop {
  all: unset;
  display: contents;
}

tt,
code,
kbd,
samp {
  font-family: var(--f-monospace);
}

svg line {
  stroke: var(--color-fg-1);
}

svg rect {
  fill: var(--color-fg-1);
}

a {
  color: var(--color-fg-link);
}

a:visited {
  color: var(--color-fg-link-visited);
}

li.checked,
li.unchecked {
  list-style-type: none;
}
li.checked:before {
  content: "☒";
  margin-left: -1.31em;
  margin-top: -0.08em;
  float: left;
}
li.unchecked:before {
  content: "☐";
  margin-left: -1.31em;
  margin-top: -0.08em;
  float: left;
}

:where(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  margin-bottom: 1.25em;
}

td,
th {
  padding: var(--ms);
}

td {
  border-bottom: var(--border-weak);
}

th {
  border-bottom: var(--border-strong);
  text-align: left;
  text-align: start;
}

/* HEADER & FOOTER */

.DJHeader {
  z-index: 1;
  background-color: var(--color-bg);
}

.DJHeader_SiteName a {
  color: var(--color-fg-1);
  text-decoration: none;
}

.DJHeader_SiteName a:hover {
  text-decoration: underline;
}

.DJHeader_Content {
  border-bottom: var(--border-weak);
  padding: var(--ms);
}

.DJProjectInfo {
  font-size: var(--fs-small);
  color: var(--color-fg-2);
}

.DJFooter_Content {
  border-top: var(--border-weak);
  padding: var(--ms);
}

main {
  margin-top: var(--mll);
  margin-bottom: var(--mm);
}

@media (max-width: 970px) {
  main {
    margin-top: var(--ml);
  }
}

/* NAVIGATION */

.DJDocTree_Content,
.DJTableOfContents_Content {
  padding: 0 var(--ms);
}

.DJContent {
  padding: 0 var(--mm);
}

nav > ul,
nav > div > ul,
nav > ul > li > ul,
nav > div > ul,
nav > div > ul > li > ul {
  list-style-type: none;
  padding-left: 0;
}

/* Only indent third-level lists */
nav > ul ul ul,
nav > div > ul ul ul {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0.5em;
}

.DJTableOfContents_Content::before {
  content: "On this page";
}

.DJNextPrevious.m-top {
  display: none; /* hidden by default */
}

nav.DJDocTree a,
nav.DJDocTree a:visited,
nav.DJDocTree h1,
nav.DJDocTree h2,
nav.DJDocTree h3,
nav.DJDocTree h4,
nav.DJDocTree h5,
nav.DJDocTree h6 {
  text-decoration: none;
  color: var(--color-fg-2);
}

/* Add underlines to sections with self-docs */
nav.DJDocTree a:hover,
nav.DJDocTree h1 > a,
nav.DJDocTree h2 > a,
nav.DJDocTree h3 > a,
nav.DJDocTree h4 > a,
nav.DJDocTree h5 > a,
nav.DJDocTree h6 > a {
  text-decoration: underline;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  font-size: var(--fs-normal);
  margin-bottom: 0.5em;
}

nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  margin-top: 1em;
}

.DJNextPrevious > a {
  text-decoration: none;
  padding: var(--ms) var(--mm);
  border-radius: var(--d-xsmall);
  border: var(--border-weak);

  min-width: 10rem;
}

.DJNextPrevious a:hover {
  background-color: var(--color-bg-1-hover);
}

.DJNextPrevious.m-bottom {
  margin-top: var(--ml);
  margin-bottom: var(--mm);
}

.DJNext {
  text-align: right;
}

.DJNextPrevious_Label {
  font-size: var(--fs-small);
  color: var(--color-fg-2);
}

.DJNextPrevious_Link {
  text-decoration: underline;
}

.DJNext .DJNextPrevious_Label::after {
  content: " →";
}

.DJPrevious .DJNextPrevious_Label::before {
  content: "← ";
}

/* MOBILE MENU POPOVER */

#dj-mobile-menu {
  border: none;
  border-right: var(--border-strong);
  height: 100%;
  padding: 0;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width-large);
  width: 100vw;
  background-color: var(--color-bg-1);
  color: var(--color-fg-1);
}

#dj-mobile-menu header {
  margin-bottom: var(--mm);

  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--ms);

  border-bottom: var(--border-weak);
}

#dj-mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

/* COMPONENTS */

.DJIconButton {
  all: unset;
  cursor: pointer;
  font-size: var(--fs-large);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--ms);
}
