body {
  font-family: var(--f-body);
  font-size: 16px;
  line-height: var(--line-height-tall);
  color: var(--color-fg-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-short);
  text-wrap: balance;
}

header h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
}

header h2 {
  font-weight: var(--fw-normal);
  font-size: var(--fs-large);
}

article p,
article pre,
article aside,
article ol,
article ul,
article .tab-group,
article details {
  margin-bottom: 1.25em;
}

article ul,
article ol {
  margin-top: 1.25em;
}

article li ol,
article li ul {
  margin-top: 0.5em;
}

article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

article h1 {
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-light);
  margin: 0 0 1.25em;
}

article h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-semibold);
  margin: 2em 0 1em;
}

article h3 {
  font-size: var(--fs-large);
  font-weight: var(--fw-normal);
  margin: 2rem 0 1rem;
}

article pre {
  overflow-x: auto;
  min-width: 0;
}
