/* LAYOUT */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > header,
body > footer {
  flex-grow: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-page-width {
  width: 100%;
  max-width: var(--page-max-width);
}

main {
  flex-grow: 1;
  gap: 1em;

  display: flex;
  flex-direction: row;
}

.DJDocTree {
  flex-grow: 0;
}
.DJDocTree.m-sidebar {
  width: 12.1rem;
  order: 0;
}

.DJContent {
  flex-grow: 1;
  order: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100%;
}
.DJContent > article {
  flex-grow: 1;
}
.DJTableOfContents {
  order: 2;
  flex-grow: 0;
}
.DJTableOfContents::before {
  content: "On this page";
}

/* NAVIGATION */

nav > ul {
  list-style-type: none;
  padding-left: 0;
}

nav > ul ul {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0.5em;
}

.DJNextPrevious {
  flex-grow: 0;

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
