/* GLOBAL STYLES */

body {
  font-family: var(--f-system);
  font-size: 16px;
  line-height: var(--line-height-tall);
}

a {
  color: var(--color-fg-link);
}

a:visited {
  color: var(--color-fg-link-visited);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-short);
}

/* HEADER & FOOTER */

body > header {
  border-bottom: var(--border-strong);
}

body > footer {
  border-top: var(--border-strong);
}

/* NAVIGATION */

.DJNextPrevious.m-top {
  display: none; /* hidden by default */
}

nav li a,
nav li a:visited,
nav li h1,
nav li h2,
nav li h3,
nav li h4,
nav li h5,
nav li h6 {
  text-decoration: none;
  color: var(--color-fg-2);
}

.DJNextPrevious.m-bottom {
  margin-bottom: var(--mm);
}

.DJNext {
  text-align: right;
}

.DJNextPrevious_Label {
  font-size: var(--fs-small);
  color: var(--color-fg-2);
}
.DJNext .DJNextPrevious_Label::after {
  content: " →";
}

.DJPrevious .DJNextPrevious_Label::before {
  content: "← ";
}
